div{
  font-family: 'Courier New', "Courier", "monospace";
  padding: 20px;
   background-color:black;
color: white;
}
img{
  width: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(27, 25, 25);
}